.order-confirmation {
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
    margin-top: 100px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Checkmark animation */
.checkmark-container {
    width: 150px; /* Increase size */
    height: 150px; /* Increase size */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.checkmark {
    width: 100%;
    height: 100%;
    stroke-width: 2;
    stroke: #4caf50;
    stroke-miterlimit: 10;
    animation: scale .3s ease-in-out .9s both;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4caf50;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.3s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.back-button {
    margin-top: 20px;
    background-color: black;
    color: white;
}

